:javascript
  $(function () {
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: '#{container_id}',
        type: 'bar'
      },
      title: {
        text: '#{graph[:title]}'
      },
      
      subtitle: {
        text: "#{graph[:subtitle]}"
      },
      
      xAxis: {
        categories: #{graph[:xAxis]}
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Répartition en %'
        }
      },
      legend: {
        backgroundColor: '#FFFFFF',
        reversed: true
      },
      tooltip: {
        formatter: function() {
          return ''+
            this.series.name +': '+ this.y +' fois.';
        }
      },
      plotOptions: {
        series: {
          stacking: 'percent'
        }
      },
        series: [{
        name: '>1h20',
        color: '#000000',
        data: #{graph[:data]["99999"]}
      }, {
        name: '1h à 1h20',
        color: '#e0272a',
        data: #{graph[:data]["80"]}
      }, {
        name: '45min à 1h',
        color: '#ce7625',
        data: #{graph[:data]["60"]}
      }, {
        name: '30 à 45min',
        color: '#fff728',
        data: #{graph[:data]["45"]}
      }, {
        name: '20 à 30min',
        color: '#acde39',
        data: #{graph[:data]["30"]}
      }, {
        name: '<20min',
        color: '#8bd5e0',
        data: #{graph[:data]["20"]}
      }]
      });
    });
  });