:javascript
  $(function () {
          
      window.chart = new Highcharts.Chart({
      
          chart: {
              renderTo: '#{container_id}',
              type: 'columnrange',
              inverted: true
          },
          
          title: {
              text: "#{graph[:title]}"
          },
          
          subtitle: {
              text: "#{graph[:subtitle]}"
          },
      
          xAxis: {
              categories: #{graph[:xAxis]}
          },
          
          yAxis: {
              title: {
                  text: 'Temps de trajet (min)'
              }
          },
      
          tooltip: {
              valueSuffix: 'min'
          },
          
          plotOptions: {
              columnrange: {
                  dataLabels: {
                      enabled: true,
                      formatter: function () {
                          return this.y + 'min';
                      }
                  }
              }
          },
          
          legend: {
              enabled: false
          },
      
          series: [{
              name: 'Temps de trajet',
              data: #{graph[:data]}
          }]
      
      });
      
  });