:javascript
  $(function () {
  var chart;
  $(document).ready(function() {
    chart = new Highcharts.Chart({
      chart: {
        renderTo: '#{container_id}',
        type: 'bar'
      },
      title: {
        text: '#{graph[:title]}'
      },
      
      subtitle: {
        text: "#{graph[:subtitle]}"
      },
      
      xAxis: {
        categories: #{graph[:xAxis]}
      },
      yAxis: {
        min: 0,
        title: {
          text: 'Répartition en %'
        }
      },
      legend: {
        backgroundColor: '#FFFFFF',
        reversed: true
      },
      tooltip: {
        formatter: function() {
          return ''+
            this.series.name +': '+ this.y +' fois.';
        }
      },
      plotOptions: {
        series: {
          stacking: 'percent'
        }
      },
        series: [{
        name: '>1h40',
        data: #{graph[:data]["99999"]}
      }, {
        name: '<1h40',
        data: #{graph[:data]["100"]}
      }, {
        name: '<1h20',
        data: #{graph[:data]["80"]}
      }, {
        name: '<1h',
        data: #{graph[:data]["60"]}
      }, {
        name: '<45min',
        data: #{graph[:data]["45"]}
      }, {
        name: '<30min',
        data: #{graph[:data]["30"]}
      }, {
        name: '<20min',
        data: #{graph[:data]["20"]}
      }]
      });
    });
  });