%table.table.table-hover.table-bordered
  %thead
    %tr
      %th Origine
      %th Destination
      %th Moyenne (matin/soir)
      %th Minimum (matin/soir)
      %th Maximum (matin/soir)
      %th
  %tbody
    - @paths.each do |path|
      %tr
        %td #{path[:origin]}
        %td #{path[:destination]}
        %td #{path[:mean_m]} / #{path[:mean_s]}
        %td #{path[:min_m]} / #{path[:min_s]}
        %td #{path[:max_m]} / #{path[:max_s]}
        %td Plus d'infos


